:root{
    --height: 15vh;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #f2f2f2;
}
main{
    width: 100%;
    height: auto;
}
#navbar{
    position: fixed;
    width: 100%;
    height: var(--height);
    background-color: #861212;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    color: white;
    margin-right: 10vw;
    padding: 25px;
    z-index: 1;
}
#navbar > .nav-list > a{
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin-right: 2.5rem;
}
nav > .nav-list > a:hover{
    cursor: pointer;
}
.chess-club-img{
    margin-top: 5px;
    width: 5rem;
    height: 5rem;
}
.logo > h1{
    padding: 10px;
    font-size: 35px;
}
.logo{
    width: 20%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}
.empty-space{
    width: 100%;
    height: var(--height);
    margin: 0;
    padding: 0;
}
.Our-Goals{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.Our-Goals-Description{
    width: 50%;
    height: auto;
}
.Our-Goals-Description > h3{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: gray;
}
.Our-Goals-Description > p{
    letter-spacing: 2px;
    font-size: 20px;
}


#about-image{
    object-fit: cover;
    width: 100%;
    height: 20vh;
    margin: 0;
}
.team{
    width: 100%;
    height: auto;
    background: #f2f2f2; 
}
.team-text{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team h2{
    font-size: 30px;
    font-family: sans-serif;
    color: gray;
}
.team > p{
    margin-left: 5rem; 
}
.officers{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    list-style: none;
    margin-right: -50px;
    padding: 0;
}
.officers > li{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.officers > li > h4{
    padding: 2px;
    margin: 0;
}
.officers > li > p{
    padding: 2px;
    margin: 0;
}
#Prothro{
    grid-column: 2/3;
}
#Sheng{
    grid-column: 3/4;
}
#Preston{
    grid-column: 2/3;
}
#Tony{
    grid-column: 3/4;
}
#Alvin{
    grid-column: 2/3;
}

.place-holder-img{
    width: 20rem;
    height: 30rem;
}

footer{
    background-color: rgb(179, 168, 168);
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}
footer img{
    grid-column: 4/6;
}
footer .useful-link{
    grid-column: 3/4;
    color: #f2f2f2;
    font-weight: 100;
}
footer h5{
    font-size: 30px;
}
footer a{
    grid-column: 3/4;
    padding: 5px;
    color: #f0f7f0;
    letter-spacing: 2px;
    text-decoration: none;
}
footer > .social-media{
    grid-column: 6/7;
    font-size: 30px;
    color: #f2f2f2;
    font-weight: 100;
}
footer a:hover{
    color: lightskyblue;
}
.flexbox{
    display: flex;
    flex-direction: column;
}
.all-rights-reserved{
    grid-column: 4/6;
    text-align: center;
    
}

/* media query for phone users, need more update as we go */ 
@media (max-width: 1000px){
    #navbar > .nav-list > a{
        font-size: 15px;
        margin-right: 2rem;
    }
    .logo > h1{
        font-size: 20px;
    }
    
}
@media (max-width: 750px){
    #navbar > .nav-list > a{
        font-size: 15px;
        margin-right: 1rem;
    }
    .logo > h1{
        font-size: 15px;
    }
}

@media (max-width: 630px){
    #navbar > .nav-list > a{
        font-size: 10px;
        margin-right: 0rem;
    }
    .logo > h1{
        font-size: 10px;
    }
}
/* media query for phone users */

/* Fade in CSS Code */
.fade-in-text {
    animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  } 
/* Fade in CSS Code */