:root{
    --height: 15vh;
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #861212;;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
*, *::after, *::before{
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header{
    font-family: sans-serif
}
main{
    flex: 1;
    width: 100%;
    height: auto;
}
/* Navbar */
/* Hamburger */
.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible{
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}
.hamburger-menu{
    --foreground: white;
    --background: #333;
}
.hamburger-menu:has(input:checked){
    --foreground: #333;
    --background: #333;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), 
    rotate var(--animation-timing), translate var(--animation-timing)
    , background-color var(--animation-timing);

}
.hamburger-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
.hamburger-menu{
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: fixed;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}
.hamburger-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}
.hamburger-menu input:checked{
    opacity: 0;
    width: 0;
}
.sidebar{
    position: fixed;
    font-weight: bold;
    transition: translate var(--animation-timing);
    translate: 0%;
    background-color: var(--foreground);
    color: var(--background);
    height: var(--height);
    width: 100vw;
    z-index: 1;
}
.sidebar div{
    height: 100%;
}
.sidebar nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    height: 100%;
}
.sidebar nav ul{
    display: flex;
    flex-direction: row;
}
.sidebar a{
    font-size: 1.5rem;
    padding-top: 20px;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
.sidebar span{
    border-bottom: 2px solid white;
}

.hamburger-menu:has(input:checked) + .sidebar{
    translate: -100%;
}
.sidebar a:hover{
    color: lightblue !important;
}
.chess-club-img{
    margin-top: 5px;
    width: 5rem;
    height: 5rem;
}
.logo > h1{
    padding: 10px;
    font-size: 35px;
}
.logo{
    width: 20%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    padding-left: 10px;
}
.empty-space{
    width: 100%;
    height: var(--height);
}

/* Navbar */


#hero-image{
    width: 700px;
    height: 100%;
    padding: 30px;
    margin: 3rem;
}
#hero-image img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.hero{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    /* background-image: url(Pictures/Countryside\ background.jpg); */
    background: linear-gradient(-45deg, #f2f2f2 90%, lightcoral 10%);
}
#hero-title{
    width: 60%;
    font-family: sans-serif;
    font-size: 3.5rem;
    text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
    line-height: 5rem;
}
#hero-description{
    width: 60%;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    margin-left: 6rem;
    font-weight: 300;
}
#hero-description > p{
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 1.5rem;
}
.join-button{
    background: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    margin-top: 2rem;
    text-align: center;
    color: #f2f2f2;
    font-family: sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
}
.join-button:hover{
    background-color:rgb(119, 150, 177);
    cursor: pointer;
}
.tournament-description{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tournament-description h1{
    font-size: 2.5rem;
}
.tournament-description > div > span{
    letter-spacing: 3px;
}
.tournament-description div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#chessclub-img{
    margin: 5rem;
    width: 600px;
    height: 500px;
    object-fit: cover;
}
.center{
    text-align: center;
}
.learn-chess{
    letter-spacing: 4px;
    /* color: #ed786a; */
    text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
    font-weight: normal;
    font-family: sans-serif;
    font-size: 2rem;
    margin: 3rem;
}

/* footer Code */
footer{
    background-color: rgb(179, 168, 168);
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}
footer img{
    grid-column: 4/6;
}
footer .useful-link{
    grid-column: 3/4;
    color: #f2f2f2;
    font-weight: 100;
}
footer h5{
    font-size: 30px;
}
footer a{
    grid-column: 3/4;
    padding: 5px;
    color: #f0f7f0;
    letter-spacing: 2px;
    text-decoration: none;
}
footer > .social-media{
    grid-column: 6/7;
    font-size: 30px;
    color: #f2f2f2;
    font-weight: 100;
}
footer a:hover{
    color: lightskyblue;
}
.flexbox{
    display: flex;
    flex-direction: column;
}
.all-rights-reserved{
    grid-column: 4/6;
    text-align: center;
    
}
.fa-github{
    color: black;
}
.fa-instagram{
    color: lightcoral;
}
.fa-discord{
    color: rgb(90, 90, 187);
}
/* footer Code */

/* media query for phone users, need more update as we go */ 
@media (max-width: 1050px){
    #navbar > .nav-list > a{
        font-size: 20px;
        margin-right: 0rem;
    }
    .hamburger-menu:has(input:checked) + .sidebar{
        translate: 0%;
    }
    .sidebar{
        translate: -100%;
    }
    .hero{
        flex-direction: column;
    }
    #hero-title{
        margin: 0 !important;
        text-align: left !important;
        padding: 1rem;
    }
    #chessclub-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 30px;
        
    }
    #hero-description{
        width: auto;
        margin: 1rem !important;
    }
    #hero-description p{
        padding: 1rem;
        line-height: normal;
    }
    #hero-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 30px;
        
    }
    .sidebar {
        width: 250px;
        height: 100%; 
        overflow-y: auto; 
    }
    .sidebar nav {
        flex-direction: column;
    }
    .sidebar div {
        font-size: 2rem; 
        padding: 10px 15px; 
    }
    .sidebar nav ul{
        display: flex;
        flex-direction: column;
    }
    .hamburger-menu{
        --foreground: #333;
        --background: #333;
    }
    .hamburger-menu:has(input:checked){
        --foreground: #333;
        --background: white;
    }
    .empty-space{
        width:0;
        height: 0;
    }
    .learn-chess{
        letter-spacing: 4px;
        /* color: #ed786a; */
        text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
        font-weight: normal;
        font-family: sans-serif;
        font-size: 1rem;
    }
    .video{
        width: 80%;
    }
    #hero-title{
        text-align: center;
        line-height: 3.2rem;
    }
    #hero-description p{
        margin: 0 !important;
    }
    .tournament-description{
        flex-direction: column-reverse;
    }
    #chessclub-img{
        margin: 2rem !important;
        width: 430px;
        height: 100%;
    }
}


/* media query for phone users */

/* Fade in CSS Code */
 .fade-in-text {
    animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  } 
/* Fade in CSS Code */
  
  
